.load-box {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.spiner {
  animation: load 2s linear 0s infinite normal;
}

@keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
